<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liurq.busi.dao.CarTypeRepository">

    <insert id="insertCarType" parameterType="com.liurq.busi.bean.CarType">
        INSERT INTO car_type${tableSuffix}(`type_id`, `name`)
        VALUES (#{typeId}, #{name})
    </insert>
</mapper>
